<article class="review">
    <div class="review-content">
      <div class="review-time-stamp">
        <p class="review-date">{{date}}</p> <p> || </p> <p class="review-time"> {{time}} </p>
      </div>
      <p class="review-text">
        {{body}}
      </p>
      <p class="review-author">
        <a href="#">{{author}}</a>
      </p>
    </div>
</article>
