<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>Friendventure Final Project CS290</title>
  <link rel="stylesheet" href="../../index.css" media="screen">
  <script src="../../index.js" charset="utf-8" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Roboto:wght@100&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script> <!-- Cool type Writer Package from: https://github.com/tameemsafi/typewriterjs/blob/master/readme.md -->
</head>

  <body>

    <header>
      <!-- The <i> tag below includes the lizzard hand icon from Font Awesome -->
      <header id= "head-Bar">
        <h1 id= "title"> <a href="index.html">Friendventure!</a> </h1>
        <div id= "top-Bar">
          <!--Detail stuff-->
          <!-- <img src=""/> -->
          <h1 id="title-suffix"></h1>
          <!-- <img src=""/> -->
        </div>
      </header>
    </header>

    <main class="reviews-container">
      <h2>404</h2>
      <h3>Woops!  We couldn't find that page.</h3>
    </main>

  </body>

</html>
